<div class="movie-page-container" *ngIf="movie">
  <div class="movie-details-container">
    <!-- Poster -->
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="{{ movie.title }}"
      class="movie-poster"
    />

    <!-- Movie Info -->
    <div class="movie-info">
      <h2>
        {{ movie?.title }}
        <i
          (click)="toggleWishlist(movie.id)"
          class="fa-heart"
          [ngClass]="{
            'fa-solid': isInWishlist(movie.id),
            'fa-regular': !isInWishlist(movie.id),
            'text-danger': isInWishlist(movie.id),
            'text-secondary': !isInWishlist(movie.id),
            'fs-4': true,
            'add-to-favourite': true
          }"
          title="Toggle Wishlist"
        ></i>
      </h2>

      <p><strong> {{language === 'ar' ?'تاريخ النشر:' : 'Release Date:'}}</strong> {{ movie?.release_date | date: 'longDate' }}</p>
      <p><strong>{{language === 'ar' ?'التقييم :' : 'Rating:'}}</strong> ⭐ {{ movie?.vote_average }}/10</p>
      <p><strong>{{language === 'ar' ?' نظرة عامة :' : 'Overview:'}}</strong> {{ movie?.overview }}</p>
    </div>

    <!-- Trailer -->
    <div *ngIf="trailerKey" class="trailer-container">
      <h3>{{ language === 'ar' ? 'البرومو الرسمي' : 'Official Trailer' }}</h3>
      <iframe
        width="100%"
        height="250"
        [src]="trailerUrl"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- Recommended Movies -->
  <div *ngIf="recommendedMovies.length > 0" class="recommended-section">
  <h3>{{ language === 'ar' ? 'أفلام موصى بها' : 'Recommended Movies' }}</h3>

  <div class="card-container">
    <div *ngFor="let movie of recommendedMovies" class="movie-card">
        <!-- Poster -->
        <a [routerLink]="['/movie', movie.id]">
          <img
            class="poster-img"
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="Poster of {{ movie.title }}"
          />
        </a>

        <!-- Content -->
        <div class="movie-info-2">
          <div class="movie-header">
            <a [routerLink]="['/movie', movie.id]" class="movie-title">
              {{ movie.title }}
            </a>
            <i
              (click)="toggleWishlist(movie.id)"
              class="heart-icon fa fa-heart"
              [ngClass]="{
                'fa-solid': isInWishlist(movie.id),
                'fa-regular': !isInWishlist(movie.id)
              }"
              title="Toggle Wishlist"
            ></i>
          </div>

          <div class="movie-details-row">
            <div class="movie-rating">⭐ {{ movie.vote_average.toFixed(1) }}</div>
            <div class="movie-date">{{ movie.release_date | date: 'longDate' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
