.custom-footer {
  background-color: #f8f9fa;
  color: #212529;
  padding: 12px 24px;
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
}

.footer-top {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.footer-brand {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
  gap: 6px;
}

.brand-icon {
  font-size: 22px;
  color: #0d6efd;
}

.brand-text {
  font-weight: bold;
  color: #0d6efd;
}

.social-icon {
  color: #5c5c5c;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #0d6efd;
}

.footer-bottom {
  margin-top: 12px;
}

.footer-copy {
  font-size: 13px;
  color: #444;
}

/* ===== DARK MODE ===== */
:host-context(body.dark-mode) .custom-footer {
  background-color: #131212;
  color: #ccc;
  border-top: 1px solid #333;
}

:host-context(body.dark-mode) .brand-icon {
  color: #ffc107;
}

:host-context(body.dark-mode) .brand-text {
  color: #ffc107;
}

:host-context(body.dark-mode) .social-icon {
  color: #aaa;
}

:host-context(body.dark-mode) .social-icon:hover {
  color: #ffc107;
}

:host-context(body.dark-mode) .footer-copy {
  color: #aaa;
}

.theme-text {
  color: #000;
}

:host-context(body.dark-mode) .theme-text {
  color: #ffc107 !important;
}

.movie-logo-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
}