<nav class="navbar-container navbar navbar-expand-lg" [ngClass]="{'dark-mode': isDarkMode}">
  <div class="container-fluid">

    <!-- Left Section -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand app-title d-flex align-items-center gap-2" routerLink="/">
        <img src="https://cdn-icons-png.flaticon.com/512/17115/17115490.png" alt="movie logo" class="movie-logo-icon" />
        <span class="text">Aflamko</span>
      </a>

      <ul class="navbar-nav flex-row gap-3 align-items-center ms-3">
        <li class="nav-item">
          <a class="nav-link fw-semibold theme-text" routerLink="/">
            {{ language === 'ar' ? 'الرئيسية' : 'Home' }}
          </a>
        </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/Genre">
            {{ language === 'ar' ? 'الأنواع' : 'Genres' }}
          </a>
        </li>
        
        <!-- Wishlist with Heart Icon -->
        <li class="nav-item position-relative">
          <a class=" icon-link" routerLink="/wishlist">
            <img src="https://cdn-icons-png.flaticon.com/512/15017/15017504.png"
                 alt="wishlist"
                 class="wishlist-img-icon" />
            <span *ngIf="firebaseService.currentUser"
                  class="wishlist-badge badge rounded-pill bg-danger">
              {{ firebaseService.wishlist.length }}
            </span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Right Section -->
    <div class="d-flex align-items-center gap-3">

      <select class="form-select form-select-sm language-select" [(ngModel)]="language" (ngModelChange)="onChange()">
        <option *ngFor="let lang of languages" [value]="lang">{{ lang }}</option>
      </select>

      <button class="btn theme-toggle-btn" (click)="toggleDarkMode()">
        <img
          [src]="isDarkMode
            ? 'https://cdn-icons-png.flaticon.com/512/2490/2490255.png'
            : 'https://cdn-icons-png.flaticon.com/512/2490/2490148.png'"
          alt="Toggle Theme"
          class="mode-icon"
        />
      </button>


      <span class="username" *ngIf="firebaseService.currentUser">
        {{ firebaseService.currentUser.FirstName }}
      </span>

      <a *ngIf="firebaseService.currentUser; else guest"
         class="btn btn-outline-light  auth-btn"
         routerLink="/login"
         (click)="logout()">
         {{ language === 'ar' ? 'تسجيل خروج' : 'Logout' }}
      </a>

      <ng-template #guest>
        <a class="btn btn-outline-light  auth-btn" routerLink="/login">
          {{ language === 'ar' ? 'تسجيل دخول' : 'Login' }}
        </a>
      </ng-template>

    </div>
  </div>
</nav>

