/* Basic navbar styling */
.navbar-container {
  padding: 6px 24px;
  background-color: #f8f9fa;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  color: #0d6efd;
  transition: transform 0.3s ease;
}
.app-title:hover {
  transform: scale(1.05);
}
.movie-logo-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* Wishlist */
.icon-link {
  position: relative;
  display: inline-block;
}
.wishlist-img-icon {
  width: 26px;
  height: 26px;
}
.wishlist-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  font-size: 11px;
  padding: 2px 5px;
}

/* Buttons */
.auth-btn {
  min-width: 100px;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 2px solid #5c5c5c;
  background-color: #fff;
  color: #232322;
  font-weight: 500;
  transition: all 0.3s ease;
}
.auth-btn:hover {
  background-color: #ffc107;
  color: #fff;
}
.theme-toggle-btn {
  background: transparent;
  border: none;
  padding: 4px;
}
.mode-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}
.mode-icon:hover {
  transform: rotate(20deg);
}

/* Language Select */
.language-select {
  width: 70px;
  font-size: 14px;
  padding: 4px 8px;
}

/* Username */
.username {
  font-weight: 500;
  color: #212529;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}
body.dark-mode .navbar-container {
  background-color: #0e0d0d;
}
body.dark-mode .nav-link,
body.dark-mode .username {
  color: #ffc107 !important;
}
body.dark-mode .auth-btn {
  border-color: #6f6f6f;
  color: #ffc107;
  background-color: #131212;
}
body.dark-mode .auth-btn:hover {
  background-color: #ffc107;
  color: #fff;
}
body.dark-mode .language-select {
  background-color: #131212;
  border: 2px solid #6f6f6f;
  color: #ffc107;
}

/* MOBILE FIXES */
@media (max-width: 991.98px) {
  .navbar-nav {
    gap: 0.5rem !important;
  }

  .navbar-collapse {
    padding: 1rem;
  }

  .navbar-nav,
  .navbar-collapse > div {
    align-items: flex-start !important;
  }

  .username,
  .auth-btn,
  .language-select,
  .theme-toggle-btn {
    width: 100%;
  }

  .auth-btn {
    text-align: center;
  }
}
