<div class="container">
    <h1>
      {{ language === 'ar' ? 'مرحبا بكم في موقع الافلام' : 'Welcome To Our Movie App' }}
      
    </h1>
    <p>
      {{ language === 'ar' ? 'ملايين الأفلام والبرامج التلفزيونية والأشخاص الذين يمكنك اكتشافهم.استكشف الآن.' : 'Millions of Movies, TV shows and people to discover.Explore Now.' }}
    </p>
    <div class="input-group mb-3">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search and explore..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-success search-btn" type="button" (click)="movieSearch()">
            {{ language === 'ar' ? 'بحث' : 'Search' }}
          </button>
        </div>
      </div>
      <button class="btn btn-outline-danger search-btn" type="button" (click)="Reset()">
        {{ language === 'ar' ? 'اعادة ضبط' : 'Reset' }}
      </button>
</div>
