<!-- Search Bar -->
<app-search-bar></app-search-bar>

<!-- Card -->
<div class="container card-container">
    @for(movie of data.moviesSignal(); track movie.id) {
            <div class="movie-card">
                    <!-- Poster -->
                    <a [routerLink]="['/movie', movie.id]">
                        <img class="poster-img" [src]="data.imagesBaseURL + movie.poster_path" alt="Poster of {{ movie.title }}">
                    </a>

                    <!-- Content -->
                    <div class="movie-info">
                        <div class="movie-header">
                        <a [routerLink]="['/movie', movie.id]" class="movie-title">
                            {{ movie.title }}
                        </a>
                        @if(isInWishlist(movie.id)) {
                            <i (click)="ToggleToWishlist(movie.id)" class="fa-solid fa-heart heart-icon"></i>
                        }
                        @else {
                            <i (click)="ToggleToWishlist(movie.id)" class="fa-regular fa-heart heart-icon"></i>
                        }
                        </div>

                        <div class="movie-details-row">
                            <div class="movie-rating">⭐ {{ movie.vote_average.toFixed(1) }}</div>
                            <div class="movie-date">{{ movie.release_date | date: 'longDate' }}</div>
                        </div>
                    </div>
                </div>

    }
</div>
<button class="back-to-top" (click)="scrollToTop()" [class.show]="showButton">
  ⬆ Back to Top
</button>
<!-- Pagination -->
 <div class="paginator-wrapper">
    <mat-paginator class="custom-paginator" [length]="250"
                    [pageSize]="1"
                    [hidePageSize]="true"
                    [showFirstLastButtons]="true"
                    (page)="pageEvent($event)"
    ></mat-paginator>
</div>