<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
 
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://wallpapercave.com/wp/wp10387949.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
            
            <div class="welcom">
                <h2>Welcome Back</h2>
                
        
        </div>

            

          <form>
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Email address</label>
              <input type="email" id="form2Example1" class="form-control"  />
              
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                 <label class="form-label" for="form2Example2">Password</label>
              <input type="password" id="form2Example2" class="form-control" />
             
            </div>

            <div class="row mb-4">
  <div class="col d-flex justify-content-end">
    <!-- Simple link -->
    <a routerLink="/register">Forgot password?</a>
  </div>
</div>



           

            <!-- Submit button -->
            <button  type="button" data-mdb-button-init data-mdb-ripple-init 
            class="btn btn-primary btn-block mb-4"
            >Sign in</button>

             <div class="signup-text">
          Don't have an account? <a [routerLink]="['/register']" routerLinkActive="active" class="text-yellow">Sign up</a>
        </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->